@font-face {
  font-family: 'Amatic';
  src: url(../fonts/AmaticSC-Regular.ttf)
}

@font-face {
  font-family: 'Marquette';
  src: url(../fonts/Marquette.otf)
}


.home {
  font-family: 'Amatic', sans-serif;
  width: 80%;
  margin: 0 auto;
  font-size: 22px;
  margin-top: 5%;
}

.topBorder {
  padding: 5%;
  border-top: 1px dotted black;
}

.bold {
  font-weight: bold;
}

.gettingMarried {
  font-size: 36px;
  margin: 1% 0 0;
}

.link {
  text-decoration: none;
  color:black;
}

.link:hover {
  font-weight: bold;
  color: rgb(211, 100, 9);
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Amatic', sans-serif;
}

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  width: 50%;
  height: auto;
  padding: 0;
  margin: 0;
}

.revertFrame {
  width: 50%;
  height: auto;
  padding: 0;
  margin: 0;
  transform: rotateX(180deg);
}

@media only screen and (min-width: 580px) {
  .home {
    font-size: 28px;
  }

  .gettingMarried {
    font-size: 40px;
  }

  .frame, .revertFrame {
    width: 15%;
  }

  .button {
    font-weight: bold;
  }
}