@font-face {
  font-family: 'Amatic';
  src: url(../fonts/AmaticSC-Regular.ttf)
}

@font-face {
  font-family: 'Marquette';
  src: url(../fonts/Marquette.otf)
}


.home {
  font-family: 'Amatic';
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 5%;
}

.topBorder {
  padding: 5%;
  border-top: 1px dotted black;
}

.bold {
  font-weight: bold;
}

.gettingMarried {
  font-size: 36px;
  margin-top: 1%;
}