@font-face {
    font-family: 'Amatic';
    src: url(../fonts/AmaticSC-Regular.ttf)
}

.card {
    width: 80vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8%;
    padding: 5% 2% 8%;
    border: 1px dotted black;
    font-family: 'Amatic', sans-serif;
}

.img {
    height: 150px;
    width: auto;
}

.icon {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.title {
    padding: 0;
    margin: 10px 0;
}

@media only screen and (min-width: 580px) {
    .card {
        width: 35vw;
        margin: 1%;
        padding: 3% 1%;
    }
}

@media only screen and (min-width: 980px) {
    .card {
        margin: 3%;
        padding:1%;
        height: auto;
    }

    .icon {
        font-size: 28px;
    }

    .img {
        height: 230px;
    }
}