html {
  background: rgb(252,216,147);
  background: linear-gradient(193deg, rgba(252,216,147,1) 0%, rgba(252,137,70,1) 100%);
}

.App {
  text-align: center;
  height:100% ;
  padding-bottom: 40px;
}

@font-face {
  font-family: 'Marquette';
  src: url(./fonts/Marquette.otf)
}
@font-face {
  font-family: 'Sallina';
  src: url(./fonts/Sallina.ttf)
}


h1{
  font-family: 'Marquette';
  text-align: center;
}
nav {
  font-family: 'Sallina';
  display: flex;
  min-height: 10vh;
  font-size: 16px;
  justify-content: center;
  
}

.navigation {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navigation li, .navigation a{
 width: 20%;
 padding: 1.3%;
 text-decoration: none;
 color: black;
display: flex;
justify-content: center;
cursor: pointer;
}


.under{
  height:1000px ;
  background-color:red;
  font-size:36px
}

.background {
  background-image: url("./images/wedding-dinner-music-newlyweds-at-the-celebration-weddingdeco.nl-min-334x500.jpg");
  min-height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  background-image: url("./images/party.png");
}